{% extends "base.html" %}

{% block content %}

    {% for blog in blogs %}

        <a href = '/blog?id={{blog.id}}')> <h2>{{blog.title}} </h2></a>

        <p> <em>posted by  <a href = '/blog?owner_id={{blog.owner_id}}'>{{blog.owner.username}} </a></em></p>
        <p>{{blog.body}}</p>
        <br/>

    {% endfor %}
{% if pagination %}
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="/blog?page={{ page }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}
